@page
@model HoloHouse.Web.Views.Owners.DetailsModel

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Owner.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
