@model HoloHouse.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Owner</h4>
<hr />
<div class="row">
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}